{% extends 'base.html' %}
    
    {% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .container {
        width: 40%;
        padding-bottom: 10px;
    }
    .login{
        width: 100%;
        position: relative;
        height: 50vh;
        padding: 20px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    
    .form-input{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: center;
    }
</style>
<body class="container" style="background-color: beige;">
    <div class="login" style="background-color: rgb(186, 204, 219); padding-bottom: 40px;">
        <strong><p class="text-center">Login with your username and password</p></strong>
        <form class="form-input" action="" method="post" style="border-radius: 5px;">
            {% csrf_token %}
                <input type="text" name="username" placeholder="👨Username">
                <input type="password" name="password" placeholder="🔒Enter your password">
                <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>



</body>
</html>
{% endblock %}