/* PROFILE PAGE */

.profile-img img{
    width: 50%;
    height: 22em;
    border-radius: 30px;
    border: 1px dotted rgb(255, 180, 41);

}

.profile-img p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:monospace;
    display: inline-flex;
    background-color:rgb(225, 253, 245);
    box-shadow: 1px 5px 8px .6 rgb(39, 28, 28);
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}